/*.button
{
        -fx-background-color: transparent;
	-fx-border-color:white;
	-fx-border-radius: 50px;
	-fx-font-size: 24px;
        -fx-text-fill:#09E887;  
}

.button:hover
{
    -fx-background-color: #09E887;
     -fx-text-fill:white; 
     -fx-border-color:white;
    -fx-border-radius: 50px;
    
}*/

.button {
     -fx-font-family: Comic Sans MS;
    -fx-background-color:  #39b5ff;
    -fx-background-radius: 30;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.button:hover{
    
    
    -fx-background-color: white;
    -fx-text-fill:    #39b5ff;
    -fx-border-color:    #39b5ff;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-font-size: 14;
    
    
    
}



.button:pressed{
    
    -fx-background-color: white;
    -fx-text-fill:  #39b5ff;
    -fx-border-color:  #39b5ff;
    -fx-border-width: 2;
    -fx-rotate: 10;
    -fx-font-size: 14;
    
}


/*#field
{
	-fx-border: none;
	-fx-padding: 5px;
	-fx-border-radius: 5px;
	-fx-width: 385px;
	-fx-font-size: 18px;
	-fx-font-family: poppins;
        }
#log
{
 -fx-font-weight: 600;
 -fx-padding-bottom: 30px;   
}*/
.table-view {
    
    -fx-background-color: transparent;
    -fx-table-cell-border-color: #39B5FF;

    
}
.table-view .column-header-background{
    
    -fx-background-color:transparent;
    -fx-border-color:#69BBC0;
}

.table-view .column-header, .table-view .filler{
    -fx-background-color:transparent;
}

.table-view .column-header .label{
    
    -fx-text-fill:white;
    -fx-border-color:#69BBC0;
    -fx-font-weight: bold;
    -fx-font-size: 16;
     -fx-font-family: Comic Sans MS;
}



.table-view .table-cell{
    -fx-text-fill:linear-gradient(to right,#2556B7, #E4214C);
     -fx-font-weight: bold;
    -fx-font-size: 16;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color,white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    
}

/*.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #4652FA;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;     
}*/

.table-row-cell:selected {
    -fx-background-color: #80E3CA;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
/*.table-row-cell:hover{}*/

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
   
}
.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: linear-gradient(to right,#2556B7, #E4214C);
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #E5F3FF;
/*     -fx-text-fill: ;*/
}

.text-field .content{
    
   
    
}


/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color:white;
  -fx-border-radius:50px;
}

.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-background-color: #c2fff7;
   -fx-text-fill:linear-gradient(to right,#2556B7, #E4214C);
   -fx-font-size:24.0px;
   -fx-font-weight:bold;
   -fx-border-radius:50px;
   
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: #162C60;
/*  -fx-border-radius:50px;*/
-fx-border-radius:50px;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: #B6EEFE;
  -fx-background-radius:10px;
  -fx-text-fill:linear-gradient(to right,#2556B7, #E4214C);
  -fx-font-size:15.0px;
  -fx-border-radius:50px;
}


