#AnchorPane
{
         -fx-background-color: #274472;
         -fx-color: white;
}
#accept
{
    -fx-background-color: #FFFFFF;
	-fx-color: white;
	-fx-border: none;
	-fx-border-radius: 5px;
}
#reject
{
        -fx-background-color: #FFFFFF;
	-fx-color: white;
	-fx-border: none;
	-fx-border-radius: 5px;
}