#loginbtn
{
        -fx-background-color: #1F8BF8;
	
	-fx-background-radius: 50px;
	-fx-width: 100%;
	-fx-font-size: 18px;
	-fx-padding: 5px;
	-fx-margin: 20px 0px;
}
#anchorPane
{
	 -fx-margin: auto auto;
	 -fx-padding: 40px;
	 -fx-border-radius: 10%;
	 -fx-box-shadow: 0 0 10px #000;
	 -fx-position: absolute;
	 -fx-width: 500px;
	 -fx-height: 430px;
         
}
#field
{
	-fx-border: none;
	-fx-padding: 5px;
	-fx-border-radius: 5px;
	-fx-width: 385px;
	-fx-font-size: 18px;
	-fx-font-family: poppins;
        }
#log
{
 -fx-font-weight: 600;
 -fx-padding-bottom: 30px;   
}
      

