.label  {
   -fx-background-color:rgba(255, 255, 255, 0.8);
    -fx-opacity: 1;  
    -fx-text-fill:white;
}

#btn1 ,#btn2 ,#btn3 ,#btn4 ,#btn5 ,#btn6 ,#btn7 ,#btn8 ,#btn9 {
    
    -fx-background-color: transparent;  
/*    rgba(255, 255, 255, 0.8);*/
    -fx-text-fill: white;
    -fx-border-color: #7CDCBB;

}

/* background: #E6DADA;  /* fallback for old browsers  
background: linear-gradient(to right, #274046, #E6DADA);   */

    